.bento-grid-layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 1rem;
  height: 70vh;
}

@media screen and (min-width: 1080px) {
  .bento-grid-layout {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .span-row {
    grid-row: span 2;
  }

  .span-column {
    grid-column: span 2;
  }
}
