.bento-grid-layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 1rem;
  height: 80vh;
  margin: 2rem 0;
}

.grid-item {
  min-height: auto;
  height: 100%;
  overflow: unset;
  border-radius: var(--default-radius);
}

.welcome-greet-wrap {
  margin: 2rem 0;
}

.welcome-greet-wrap h1 {
  font-size:2.5rem;
  font-weight:300;
}

@media screen and (min-width: 1080px) {
  .bento-grid-layout {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  .grid-item {
    min-height: 0;
    overflow: hidden;
    border-radius: var(--default-radius);
  }

  .span-row {
    grid-row: span 2;
  }

  .span-column {
    grid-column: span 2;
  }
}
