.bento-grid-layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 1rem;
  height: 80vh;
}

.grid-item {
  min-height: 0;
  overflow: hidden;
  border-radius: var(--default-radius);
}

@media screen and (min-width: 1080px) {
  .bento-grid-layout {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  .span-row {
    grid-row: span 2;
  }

  .span-column {
    grid-column: span 2;
  }
}
