.news-main-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-height: 40vh;
  overflow: auto;
}

.news-details-wrap {
  background: var(--bg-rgba);
  padding: 1rem 2rem;
  border-radius: 16px;
  backdrop-filter: blur(16px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.news-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.news-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.news-para {
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-image img {
  width: 100%;
  border-radius: 10px;
}
