.news-main-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.news-details-wrap {
  background: var(--bg-rgba);
  padding: 1rem 2rem;
  border-radius: 16px;
  backdrop-filter: blur(16px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  max-height: 15rem;
}

.news-title {
  font-size: 1.2rem;
}

.news-image img {
  width: 100%;
  border-radius: 10px;
}
