.news-main-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.news-details-wrap {
  background: var(--bg-rgba);
  padding: 1rem 2rem;
  border-radius: 16px;
  backdrop-filter: blur(16px);
}