.task-manager-title {
  font-size: 2.9rem;
}

.tasks-grid-wrap {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  margin: 1rem 0;
  container-type: inline-size;
}

form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 0 1rem;
}

form input {
  all: unset;
  padding: 0.4rem 0.5rem;
  background: #fff;
  width: 80%;
  /* margin: 1rem 0; */
  border: 2px solid var(--txt-clr);
  border-radius: 10px;
}

form button {
  all: unset;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  background: #333;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.7s ease;
}

form button:hover {
  background: #fff;
  color: var(--txt-clr);
}

@media screen and (min-width: 1080px) {
  .tasks-grid-wrap {
    grid-template-columns: repeat(3, 1fr);
  }

  .tasks-grid-wrap form {
    flex-direction: row;
  }
}
