.main-wrap {
  display: flex;
  flex-direction: column-reverse;
  min-height: 100vh;
}

.dashboard-section {
  flex: 1;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
}

.dashboard-section .inner-route-section {
  margin: var(--header-height) 0;
}

.Toastify {
  margin: 0;
}

.Toastify__toast-theme--light {
  background: var(--primary-soft);
  backdrop-filter: blur(20px);
}
.Toastify__toast--error {
  background: var(--primary-soft);
  color: var(--soft-clr);
  font-weight: 500;
}

.Toastify__progress-bar--error {
  background: var(--error);
}

.Toastify__close-button > svg {
  color: var(--soft-clr);
}

@media screen and (min-width: 1080px) {
  .main-wrap {
    flex-direction: row;
  }

  .dashboard-section {
    margin: 0 1rem;
  }
}
