.notes-textarea {
  width: 100%;
  height: 150px;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: var(--bg-rgba);
  backdrop-filter: blur(10px);
}
