.notes-textarea {
  width: 100%;
  height: 150px;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: var(--bg-rgba);
  backdrop-filter: blur(10px);
}
.notes-main-wrap {
  columns: 250px;
  column-gap: 1rem;
}

.note-wrap {
  background: var(--bg-rgba);
  backdrop-filter: blur(10px);
  border: 2px solid var(--primary);
  border-radius: var(--default-radius);
  padding: 1rem;
  margin: 1rem 0;
  break-inside: avoid-column;
}
