.notes-form-wrap {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.notes-form-wrap .notes-textarea {
  height: 20vh;
}

.notes-textarea {
  width: 100%;
  height: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: var(--bg-rgba);
  backdrop-filter: blur(10px);
}

.delete-btn-wrap {
  align-self: flex-end;
}

.delete-notes-btn {
  background: var(--primary);
  color: var(--secondary);
  outline: none;
  border: 1px solid var(--bg-rgba);
  border-radius: var(--default-radius);
  padding: 1rem;
  transition: all 0.7s ease-in-out;
}

.delete-notes-btn:hover {
  background: var(--error);
  color: var(--primary);
}

.notes-main-wrap {
  columns: 250px;
  column-gap: 1rem;
  margin: 2rem 0;
}

.note-wrap {
  background: var(--bg-rgba);
  backdrop-filter: blur(10px);
  border: 2px solid var(--primary);
  border-radius: var(--default-radius);
  padding: 1rem;
  margin: 1rem 0;
  break-inside: avoid-column;
}

@media screen and (min-width: 1080px) {
}
