.options-wrap {
  position: absolute;
  right: 1rem;
  z-index: 5;
}

.options-wrap ul {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 0.5rem;
  padding: 1rem;
  background: rgba(255, 255, 255);
  border-radius: 1rem 4rem 1rem 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  list-style-type: none;
}

.options-wrap button {
  all: unset;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.options-wrap button:hover {
  background-color: #333;
  color: #f0f0f0;
}
