.tasks-main-wrap {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 35vh;
  background: var(--bg-rgba);
  backdrop-filter: blur(10px);
  border: 1px solid var(--secondary);
  border-radius: 16px;
  overflow: auto;
}

.tasks-main-title {
  font-family: var(--primary-font);
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  color: var(--secondary);
  /* background: var(--secondary); */
  border-radius: 0.3rem;
  /* text-decoration: underline;
  text-decoration-color: var(--secondary);
  text-decoration-thickness: 1px;
  text-underline-offset: 10px; */
}

.tasks-wrap {
  overflow: auto;
}

@media screen and (min-width: 1080px) {
  .tasks-main-wrap {
    height: 55vh;
  }
  /* used inside bento grid - dashboard */
  .grid-item .tasks-main-wrap {
    height: 100%;
  }

  .tasks-main-title {
    font-size: 1.5rem;
  }
}
