.task-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 1rem 0;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #333;
}

.task-btn {
  display: flex;
  align-items: baseline;
  justify-content: right;
}
