.tasks-main-wrap {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 35vh;
  background: var(--bg-rgba);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  overflow: auto;
}

.tasks-main-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: var(--txt-clr);
}

.tasks-wrap {
  overflow: auto;
}

@media screen and (min-width: 1080px) {
  .tasks-main-wrap {
    height: clamp(100%, 20cqw, 55vh);
  }
}
