.tasks-main-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  margin: 2rem 0;
  height: 30vh;

  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  overflow: auto;
}

.tasks-main-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #333;
}
