.pomo-main-wrap {
  height: 100%;
  width: 100%;
  container-type: inline-size;
  display: flex;
  align-items: center;
  justify-content: center;
  container-type: inline-size;
}

.circle {
  display: block;
  float: left;
  width: auto;
  height: auto;
  padding: clamp(5rem, 20cqw, 8rem);
  border: 3px solid var(--primary);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  background: #eee;
  text-align: center;
  position: relative;
}

.pomo-txt {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  font-size: 100%;
  overflow: hidden;
  margin: 25% 0;
}

.pomo-time {
  font-size: clamp(1rem, 10cqw, 3.5rem);
}

.pomo-btn {
  background: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--primary);
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.5rem;
}

.pomo-btn svg {
  width: clamp(12px, 5cqw, 35px);
  height: clamp(12px, 5cqw, 35px);
}
