.pomo-main-wrap {
  height: 100%;
  width: 100%;
  container-type: inline-size;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  display: block;
  float: left;
  padding: clamp(5rem, 20cqw, 8rem);
  width: auto;
  height: auto;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  background: #eee;
  text-align: center;
  position: relative;
}

.pomo-txt {
  position: absolute;
  width: 100%;
  left: 0;
  top: 35%;
  font-size: 100%;
  overflow: hidden;
}
