.login-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 2rem;
  align-items: center;
  justify-content: center;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
  background: var(--bg-rgba);
  backdrop-filter: blur(20px);
  padding: 2rem;
  border-radius: 1rem;
}

.form-wrap > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.form-icon {
  align-self: center;
  margin: 2rem 0;
  border-radius: 100%;
}

.form-icon svg {
  width: 8rem;
  height: 8rem;
  background: var(--bg-rgba);
  border-radius: 100%;
  padding: 0.5rem;
  margin: -1rem 0;
  color: var(--primary);
  border: 3px solid var(--primary);
}

.login-title {
  color: var(--primary);
  font-size: 2rem;
  font-weight: 300;
}

.form-wrap input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.location-grp-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.location-input-wrap {
  display: flex;
  flex-direction: column;
}

.location-btn-wrap {
  display: flex;
  align-items: center;
}
