.header {
  display: flex;
  padding: 1rem 1.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.header-logo-wrap {
  background: var(--primary);
  border-radius: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}
.header-logo-wrap a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--secondary);
}

.logo-img {
  border-radius: 100%;
}

.header-logo-wrap:hover {
  background: var(--secondary);
}
.header-logo-wrap:hover a {
  color: var(--primary);
}

.user-header-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0 var(--default-radius) var(--default-radius) 0;
  padding: 0.5rem;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem -1.1rem;
  z-index: -1;
}

.user-header-wrap svg {
  color: var(--primary);
}
.icon-header-wrap {
  padding: 0.5rem;
  background: var(--accent-color);
  border-radius: 100%;
}
.username-header-wrap,
.icon-header-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.username-header-wrap p {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}

.network-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.1rem 1.2rem;
  z-index: -1;
  background: transparent;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  transition: all 800ms ease-in-out;
}
.network-indicator.online {
  background: var(--success);
}
.network-indicator.offline {
  background: var(--error);
}

@media scree and (min-width: 1080px) {
  .header {
    position: absolute;
  }
}
