.quick-wrap {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    gap: 10px;
    margin: 1rem;
    padding: 2rem 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
}

.quick-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.quick-links a {
    text-decoration: none;
}

@media screen and (min-width:1080px) {
    .quick-wrap {
        height: 40vh;
    }

    .quick-links {
        flex-direction: column;
        gap: 1.5rem;
    }
}