.quick-wrap {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
    margin: 1rem;
    padding: 2rem 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 16px;
}