.fav-links {
  background: var(--bg-rgba);
  backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: var(--default-radius);
  height: 100%;
}

.search-link input {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  outline: none;
  border: 1px solid var(--soft-clr);
  border-radius: 5px;
}

.fav-links-btns {
  display: flex;
  gap: 1rem;
  margin: 0.2rem 0;
  padding: 1rem;
  overflow: auto;
}

.fav-link-label {
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fav-link-img {
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 100%;
  transition: all 0.7s ease;
}

.fav-link-img img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.fav-link-label input[type="radio"] {
  display: none;
}

/* Hover effect */
.fav-link-label:hover .fav-link-img {
  border-color: #ccc;
}

/* Checked state */
.fav-link-label input[type="radio"]:checked + .fav-link-img {
  border-color: var(--primary);
  background-color: var(--primary-soft);
  box-shadow: 0 0 0 1px var(--primary-hover);
}
