.weather-daily-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
  max-height: 55vh;
  overflow: auto;
}

.daily-main-wrap {
  background: var(--bg-rgba);
  border-radius: 16px;
  padding: 1rem 2rem;
  gap: 1rem;
}

.daily-weather-wrap {
  display: grid;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-radius: 16px;
  gap: 1rem;
}

.daily-date {
  font-size: 1.4rem;
  font-weight: 200;
}

.daily-temp {
  font-size: 2rem;
}

.daily-sun-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (min-width: 1080px) {
  .daily-weather-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 16px;
    gap: 1rem;
  }
}
