.weather-daily-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.daily-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-rgba);
  padding: 1rem 2rem;
  border-radius: 16px;
  max-height: 20vh;
}
