.weather-daily-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
  max-height: 55vh;
  overflow: auto;
}

.daily-main-wrap {
  background: var(--bg-rgba);
  backdrop-filter: blur(16px);
  border-radius: 16px;
  padding: 1rem;
  gap: 1rem;
}

.daily-weather-wrap {
  display: grid;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-radius: 16px;
  gap: 1rem;
}

.daily-date {
  font-size: 1.4rem;
}

.daily-temp {
  font-size: 2rem;
}

.daily-sun-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
}

@media screen and (min-width: 1080px) {
  .daily-weather-wrap {
    display: grid;
    grid-template-columns: 20% 20% 30%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 16px;
    gap: 1rem;
  }

  .daily-sun-wrap {
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
  }

  .daily-date {
    font-size: 3.4rem;
    font-weight: 200;
  }

  .daily-temp {
    font-size: 3.5rem;
  }
}
