.weather-daily-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
  max-height: 55vh;
  overflow: auto;
}

.daily-wrap {
  display: grid;
  grid-template-columns: 40% 30% 20%;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-rgba);
  padding: 1rem 2rem;
  border-radius: 16px;
  max-height: 20vh;
}

.daily-date {
  font-size: 1.4rem;
  font-weight: 200;
}

.daily-temp {
  font-size: 2rem;
}
