.weather-hourly-wrap {
  display: flex;
  gap: 1rem;
  overflow: auto;
}
.hour-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hour-det,
.hour-temp {
  font-size: 1.2rem;
  font-weight: 600;
}
