.weather-hourly-wrap {
  display: flex;
  gap: 1rem;
  overflow: auto;
}
.hour-wrap {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background: var(--bg-rgba);
  backdrop-filter: blur(10px);
  align-items: baseline;
  justify-content: center;
  gap: 1rem;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  padding: 1rem 3.5rem;
  border-radius: 16px;
  height: 10rem;
}

.daily-content {
  display: flex;
  flex-direction: column;
}

.hour-det {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  border-bottom: 1px solid #000;
}
.hour-temp {
  font-size: 1.2rem;
  font-weight: 600;
}
/* 
.hour-wrap svg {
  width: 60px;
  height: 60px;
  display: block;
} */
