.weather-hourly-wrap {
  display: flex;
  gap: 1rem;
  overflow: auto;
}
.hour-wrap {
  display: grid;
  gap: 1rem;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  padding: 1rem 2rem;
}

.hour-det,
.hour-temp {
  font-size: 1.2rem;
  font-weight: 600;
}
