.weather-tile-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.weather-tile {
  background: var(--bg-rgba);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  backdrop-filter: blur(16px);
  border-radius: var(--default-radius);
  font-size: 1.2rem;
}

.weather-tile svg {
  width: 3rem;
  height: 3rem;
}

@media screen and (min-width: 1080px) {
  .weather-tile-wrap {
    grid-template-columns: repeat(4, 1fr);
  }
}
