.weather-card {
  background: var(--bg-rgba);
  backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 16px;
  color: var(--txt-clr);
}
.weather-date {
  font-size: 1.2rem;
  font-weight: 300;
}

.weather-temp {
  display: grid;
  grid-template-columns: 70% auto;
  align-items: center;
  container-type: inline-size;
}

.weather-temp .temp {
  font-size: clamp(1rem, 20cqw, 8rem);
}

.weather-info-wrap {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.weather-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 300;
}

.weather-aqui {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  container-type: inline-size;
}

.aqi-txt {
  font-size: clamp(1rem, 5cqw, 8rem);
}

@media screen and (min-width: 1080px) {
  .weather-temp {
    grid-template-columns: 70% auto;
  }

  .weather-info {
    font-size: 1.2rem;
    font-weight: 300;
  }
}
