.weather-card {
  background: var(--bg-rgba);
  backdrop-filter: blur(10px);
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 16px;
  color: var(--txt-clr);
}

.weather-temp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.weather-temp .temp {
  font-size: 4rem;
}

.weather-info-wrap {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.weather-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
