.weather-card {
  background: var(--bg-rgba);
  backdrop-filter: blur(10px);
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 16px;
  color: var(--txt-clr);
}

.weather-temp {
  display: grid;
  align-items: center;
}

.weather-temp .temp {
  font-size: 4rem;
}

.weather-info-wrap {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.weather-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 300;
}

@media screen and (min-width: 1080px) {
  .weather-temp {
    grid-template-columns: repeat(2, 1fr);
  }

  .weather-temp .temp {
    font-size: 4.5rem;
  }

  .weather-info {
    font-size: 1.2rem;
    font-weight: 300;
  }
}
