@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --primary: #333;
  --primary-hover: #555;
  --primary-soft: rgba(51, 51, 51, 0.15);
  --success: #2ecc71;
  --warning: #f1c40f;
  --error: #e74c3c;
  --soft-clr: #f5f5f5;

  --bg-rgba: rgba(255, 255, 255, 0.6);
  --txt-clr: #333;
  --muted-text: #666666;
  --disabled-text: #999999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background: url("assets/mountains.jpg") no-repeat center center / cover fixed;
}

.hide {
  display: none;
}

section {
  margin: 2rem 0;
}
