.weather-main-wrap {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 1rem;
}

@media screen and (min-width: 1080px) {
  .weather-main-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .span-column {
    grid-column: span 2;
  }
}
