.weather-main-wrap {
  display:flex;
  flex-direction:column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  /* background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px); */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
}

.weather-grid-item {
  min-height:0;
  overflow:hidden;
}

.top-row.weather-grid-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media screen and (min-width: 1080px) {
  .span-column {
    grid-column: span 2;
  }
}
